<header>
  <div class="title-and-description">
    <h1>
      <a href="/">Cry for the Moon</a>
    </h1>
    <div class="description">
      I'm coding to bring us much happiness &lt;3
    </div>
    <div class="mozamimy-icon">
      <img src="/images/mozamimy.jpg">
    </div>
    <div class="mozamimy-name">
      Author: @mozamimy
    </div>
  </div>
</header>
