<!DOCTYPE html>
<html land="ja">
  <head>
    {{> head }}
    <title>Cry for the Moon</title>
  </head>
  {{> header }}
  <div id="content_wrapper">
    <body>
      <div id="main" role="main">
        {{ page.html }}
      </div>
    </body>
  </div>
</html>
